@model LoginViewModel
<table class="table">
    <tr>
        
        
            <div class="row d-flex justify-content-center">
                <div class="col-6 col-md-6 col-lg-6 ">
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <div class="">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class=" control-label"></label>
                            <div class="">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-danger p-0 col-3 rounded-pill fs-5" value="Logar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       
    </tr>
</table>