@model CarrinhoViewModel
@if (Model.Carrinho.CarrinhoItens.Count > 0)
{
    <a asp-controller="Carrinho" asp-action="Index" class="btn btn-secondary ms-2 me-2">Carrinho  <span class="badge bg-danger">@Model.Carrinho.CarrinhoItens.Count</span></a>
    
}